body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #7858eb;
    color: white;
    padding: 1em;
    text-align: center;
}

.container {
    display: flex;
    flex: 1;
}

nav {
    width: 200px;
    background-color: #f4f4f4;
    padding: 1em;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

main {
    flex: 1;
    padding: 1em;
    background-color: #f9f9f9;
}

.task-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#city-search-form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.search-container {
    display: flex;
}

#city-search {
    flex: 1;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid color(rgb(8, 8, 134));
    border-radius: 4px;
}

#city-search-form button {
    padding: 10px 15px;
    background-color: blue;
    color: #ddd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}


#city-search-form button:hover {
    background-color: aqua;
}

.forecast-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.forecast-item {
    background-color: #302249;
    color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.saved-cities-list {
    display: flex;
    flex-direction: column; /* Display buttons in a column */
    gap: 10px; /* Add some spacing between buttons */
}

.saved-cities-list button {
    padding: 10px 15px;
    background-color: rgb(104, 104, 160);
    color: #ddd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.saved-cities-list button:hover {
    background-color: aqua;
}